body{
    background-color: #000;
    background-image:  url(../Img/Fondo_.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/*Ajustes del menu*/
.menu{
    padding-top: 0.4rem;
    margin-top: 1px;
    background-color: transparent;
    text-align: center;
    margin-bottom: auto;
    border-radius: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 2px 10px 1px #000;
    padding-left: 0%;
    max-width: 850px;
    text-transform: capitalize;
}

.menu li a{
    padding: 20px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

.menu li{
    display: inline-flex;
    text-align: center;
}

.menu li :hover{
    background-color: red;
    border-radius: 40px;
    border-top-left-radius: 10px;
}

.NavMenu{
    display: flex;
    justify-content: center;
    text-align: center;
}

.Contenedor{
display: flex;
}

.imagen{
    padding-top: 4.5rem;
    transform: translateX(0);
}


.mg-thumbnail{
    border-radius: 15px;
}

article{
    font-size: 14pt;
    color: #efefef;
    padding-right: 0%;
    padding-top: 4.5rem;
}

/*Footer*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    color: #ffffff;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .boxx figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .boxx figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box2 h2{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box2 p{
    color: #ffffff;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    color: #ffffff;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #FF600A;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    background-color: #0400ff;
}

.pie-pagina .grupo-2{
    background-color: #00366d;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}


@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/*Ajustes de la imagen*/
@media (min-width: 1500px) {
    .imagen{
        transform: translateX(-170px);
    }
}
