body{
    background-color: #000;
    background-image:  url(../Img/Fondo_.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/*Ajustes del menu*/
.menu{
    padding-top: 0.4rem;
    margin-top: 1px;
    background-color: transparent;
    text-align: center;
    margin-bottom: auto;
    border-radius: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 2px 10px 1px #000;
    padding-left: 0%;
    max-width: 850px;
    text-transform: capitalize;
}

.menu li a{
    padding: 20px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

.menu li{
    display: inline-flex;
    text-align: center;
}

.menu li :hover{
    background-color: red;
    border-radius: 40px;
    border-top-left-radius: 10px;
}

.NavMenu{
    display: flex;
    justify-content: center;
    text-align: center;
}

#Tarjetas{
    margin-top: 3rem;
    display: grid;
    justify-items: center;
    margin-bottom: 1.5rem;
}

.Luis{
    margin: 10px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    cursor: pointer;
}

.Marvin{
    margin: 10px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    cursor: pointer;
}

.Brayan{
    margin: 10px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    cursor: pointer;
}

.Samuel{
    margin: 10px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    cursor: pointer;
}

.Angello{
    margin: 10px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    cursor: pointer;
}

.Andres{
    margin: 10px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    cursor: pointer;
}

/*Animaciones*/
.Luis:hover{
    transform: translateY(-8px);
}

.Marvin:hover{
    transform: translateY(-8px);
}

.Brayan:hover{
    transform: translateY(-8px);
}

.Samuel:hover{
    transform: translateY(-8px);
}

.Angello:hover{
    transform: translateY(-8px);
}

.Andres:hover{
    transform: translateY(-8px);
}

/*Footer =)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .boxx figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .boxx figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .boxx h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .boxx p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #FF600A;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    background-color: #0400ff;
}

.pie-pagina .grupo-2{
    background-color: #00366d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media (max-width: 767px) {
    #tarjetas-container {
        padding: 10px;
    }
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}