body{
    background-color: #000;
    background-image:  url(../Img/Fondo_.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/*Ajustes del menu*/
.menu{
    padding-top: 0.4rem;
    margin-top: 1px;
    background-color: transparent;
    text-align: center;
    margin-bottom: auto;
    border-radius: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 2px 10px 1px #000;
    padding-left: 0%;
    max-width: 850px;
    text-transform: capitalize;
}

.menu li a{
    padding: 20px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

.menu li{
    display: inline-flex;
    text-align: center;
}

.menu li :hover{
    background-color: red;
    border-radius: 40px;
    border-top-left-radius: 10px;
}

.NavMenu{
    display: flex;
    justify-content: center;
    text-align: center;
}

.img_Software{
    display: flex;
    width: 350px;
    margin-top: 3.5em;
    max-width: 100%;
}


.video{
    display: grid;
    flex-direction: column;
    align-items: center; 
    margin-top: 3.5em; 
}

video{
    width:"650px";
    border-radius: 15px;
    max-width: 100%;
}

.Text_P{
    display: grid;
    font-size: 14pt;
    justify-content: right;                            
    width: 480px;
    height: auto;
    position: relative; 
    max-width: 100%; 
    margin-top: 20px; 
    padding: 20px; 
    box-sizing: border-box; 
    padding-right: 0;
    
}

.texto-s{
    margin-top: -23rem;
    color: #fff;
}

@media (max-width:950px){
    .video{
        margin-top: 3.5em;
    }
    .Text_P{
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;
    }
}

@media (min-width:1000px){
    .Text_P{
        padding-top: 4.8rem;
        margin-left: auto;
        margin-right: -150px;
    }
}

@media (min-width:1200px){
    video{
        width:650px;
    }
    .video{
        padding-top: 8rem;
        padding-bottom: 4.5rem;
        transform: translateX(-140px)
    }
}

@media (max-width: 1520px) and (min-width:1400px ){
    .texto-s{
        margin-right: 1em;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .video {
        margin-top: 8rem;
        transform: translateY(20%);
    }
}

@media (max-width:1400px) and (min-width:1200px){
    .video{
        padding-top: 8rem;
        padding-bottom: 4.5rem;
        transform: translateX(-140px)
    }
}

@media (max-width: 1199px) and (min-width: 1000px) {
    .texto-s{
        margin-top: 1em;
        margin-right: 4.5rem;
    }
}

@media (min-width:1400px){
    .Text_P{
        max-width: auto;
        overflow-x: auto;
        margin-top: 1em;
        transform: translateX(-70px);
        margin-bottom: 3.5rem ;
        padding: 0;
    }
}

@media (max-width: 1620px) and (min-width: 1400px){

}

@media (max-width: 1300px) and (min-width: 1200px){
    video{
        max-width: 100%;
    }
    .Text_P{
        overflow-x: auto;
    }
}

@media (min-width:951px) and (max-width:999px){
    .Text_P{
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .video {
        padding-top: 5px;
        margin-left: 5em; 
    }

    .texto-s{
        column-width: auto;
        margin-left: 35em;
    }
}

.Contenedor_P {
    border-radius: 10px;
}

.img_Software {
    display: flex;
    width: 350px;
    margin-top: 3.5em;
    max-width: 100%;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 3.5em;
}

/*Footer =)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .boxx figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .boxx figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .boxx h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .boxx p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #FF600A;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    background-color: #0400ff;
}

.pie-pagina .grupo-2{
    background-color: #00366d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
